@keyframes forLogo{
    /* 1  */
    /* from{background-color: brown;}
    to{background-color: goldenrod;} */
    /* 2 */
    /* 0%{
        background-color: blueviolet;
        width: 170px;
    }
    25%{
        background-color:brown;
        width: 180px;
    }
    50%{
        background-color:burlywood;
        width: 140px;
    }
    75%{
        background-color:cadetblue;
        width: 150px;
    }
    100%{
        background-color: blue;
        width: 160px;
    } */
     /* 3  */
     /* 0%{
        left: 0px;
        top: 0px;

     }
     50%{
        top: 150px;
     }
     100%{
        left: 300px;
        top: 0px;
     } */
      /* 4  */
      0%{
        width: 10%;
      }
      100%{
        width: 100%;
      }
}

/* 1  */
/* .box{
    width: 150px;
    height: 150px;
    background-color: forestgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    position: relative;
    animation-name: forLogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0.5s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

} */

/* 2  */
.box{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    animation: forLogo 3s ease-in-out infinite alternate-reverse;
}
